<template>
    <input :type='type' v-model="inputValue" />
</template>

<script>
export default {
    name: 'CustomInput',
    props: ["type", "modelValue"],
    computed: {
        inputValue: {
            get() {
                return this.modelValue
            },
            set(value) {
                this.$emit('update:modelValue', value);
            }
        }
    }
}
</script>
