<template>
    <div class="todo-item">
        <span>{{ title }}</span>
        <custom-button @click="onDelete"> X </custom-button>
    </div>
</template>

<script>
import CustomButton from './CustomButton.vue'
export default {
    name: "TodoItem",
    props: ["title", "onDelete"],
    components: {
        CustomButton
    }
}
</script>

<style>
.todo-item {
    width: 200px;
}

span {
    display: inline-block;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}
</style>