<template>
    <nav>
        <RouterLink class="nav-link" to="/">Home</RouterLink>
        <RouterLink class="nav-link" to="/todo">Todo</RouterLink>
    </nav>
    <router-view />
</template>


<style>
.nav-link {
    margin-right: 10px;
}
</style>