<template>
    <h1>Todo App</h1>
    <div class="todo-app">
        <div class="todo-list">
            <todo-item v-show="loading === false" v-for="todo in todos" :title="todo.title" :key="todo.id"
                :on-delete="() => deleteTodo(todo.id)" />
            <p v-show="todos.length === 0 && loading === false">Không có Todo nào!</p>
            <p v-show="loading">Loading...</p>
        </div>
        <div class="todo-form">
            <custom-form @submit="submit">
                <custom-input type="text" v-model="input" />
                <submit-button text="Add" />
            </custom-form>
        </div>
    </div>
</template>

<script>
import store from "../store";
import TodoItem from "@/components/TodoItem.vue";
import CustomForm from "@/components/CustomForm.vue";
import SubmitButton from "@/components/SubmitButton.vue";
import CustomInput from "@/components/CustomInput.vue";

export default {
    name: "TodoView",
    mounted: function () {
        store.dispatch('getAllTodos');
    },
    data: function () {
        return {
            input: "",
        }
    },
    components: { TodoItem, CustomForm, SubmitButton, CustomInput },
    methods: {
        submit: function (event) {
            event.preventDefault();
            store.dispatch("addTodo", this.input);
            this.input = "";
        },
        deleteTodo: function (todoId) {
            store.dispatch("deleteTodo", todoId);
        },

    },
    computed: {
        todos() {
            return this.$store.state.todos
        },
        loading() {
            return this.$store.state.loading
        }
    }
}
</script>